<img src="https://via.placeholder.com/300/09f/fff.png 
C/O https://placeholder.com/" alt="Image">
<span>Thid is an image</span>
<img src="https://via.placeholder.com/300/09f/fff.png 
C/O https://placeholder.com/" alt="Image">